@import "../../../styles/base/variables";

:local {
  .Container {
    margin: 0 auto;

    @media (min-width: $desktop) {
      width: 1140px;
    }
  }

  .EmptyPeriod {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 48px 0;

    .EmptyPeriodText {
      font-size: 14px;
      text-align: center;
      margin-top: 16px;
      color: #7b93a4;
    }
  }
}