:local {
  .Layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background-color: #f4f7fa;
  }

  .Content {
    position: relative;
    padding: 0;
    flex: 1;
  }
}